# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python eggs
*.egg
*.egg-info/
dist/
build/
*.egg-info

# virtual environments
tempResEnv/

# Environment / configuration files
.idea/
.vscode/
*.env

# Data files
data/

# Experiment Outputs
outputs/
wandb/